{{> menu id="about"}}

<section class="ui inverted teal center aligned middle aligned segment">
    <h1>Weather Top Application V2.0</h1>
</section>
<section class="ui center aligned middle aligned segment">
    <div class="ui two column grid">
        <div class="column">
            <figure></figure>
            <img class="ui image" src="https://cdn.glitch.com/fbaeed56-6cf5-40dc-b8c3-808eaf2c9e7b%2Fthumbnails%2FWeatherTop_Device2.jpg?1630967204227"></figure>
        </div>
        <div class="column" style="font-family:Tahoma">
            <p>
                Welcome to Weather Top 1000 - a modular weather station </br>
                </br>

            </p>
        </div>
    </div>
</section>
{{> footer}}