{{> welcomemenu id="Edit User"}}

<div class="ui two column grid basic middle aligned segment">
    <div class="column">
        <img class="ui image" src="https://cdn.glitch.com/fbaeed56-6cf5-40dc-b8c3-808eaf2c9e7b%2Fthumbnails%2Fimage3.png?1630967204535">
    </div>
    <div class="column">
        <form class="ui stacked segment form" action="/editUser" method="POST">
            <h3 class="ui header">Input all entries, including unchanging parameters</h3>
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder="First Name" type="text" name="firstname">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Last Name" type="text" name="lastname">
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" name="email">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <button class="ui blue submit button">Submit</button>
        </form>

        <div class="column">
            <h2>Current User's Credentials</h2>
            <p>Name : {{firstname}} {{lastname}}</p>
            <p>Email Address : {{email}}</p>
            <p>Password : {{password}}</p>
        </div>

    </div>
</div>
{{> footer}}