{{> menu}}

<section class="ui segment">
    <h2 class="ui header">
    </h2>
    {{>cards}}
    {{>listreadings}}
    {{>addreading}}
    {{>autoGenForm}}
  <div class="ui segment" id="chart"></div>
<script>
    const data = {
        labels: [
            {{#each report.trendLabels}}
                "{{this}}",
            {{/each}}
        ],
        datasets: [
            {
                name: "Temperature", type: "line",
                values: [
                    {{#each report.tempTrend}}
                        {{this}},
                    {{/each}}
                ]
            }
        ]
    }

    const chart = new frappe.Chart("#chart", {
        title: "Temperature Trend",
        data: data,
        type: 'line',
        height: 250,
    })
</script>
    
</section>
{{> footer}}